body {
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}

input {
    text-align: center;
}

#login_button {
    margin: 20px;
}

#login_container {
    background-color: black;
}

#login_container {
    height: 42%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#login_form {
    margin: auto;
    width: 50%;
}

