body {
    background: #000000;
    background: -webkit-linear-gradient(to left, #000000 , #434343);
    background: linear-gradient(to left, #000000 , #434343);
}

#form-container {
    margin: 0 auto;
    max-width: 960px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-title {
    text-align: center;
    padding-bottom: 15px;
    color: #f0ffff;
    font-size: 20px;
}

.button-holder {
    text-align: center;
    padding-bottom: 20px;
}

input {
    color: #f0ffff;
}

#h2_title {
    color: darkseagreen;
    background-color: cornsilk;
}

#patient_list, #info_holder {
    margin: 0 auto;
    max-width: 960px;
    color: azure;
}

.patient {
    display: inline-flex;
}

.patient_button {
    width: 220px;
}

#display_patients_body {
    text-align: center;
}

.div_color {
    background-color: darkcyan;
}

button {
    margin: 0px 5px 15px 5px;
    padding: 5px 15px;
    border: none;
}

#medication_container {
    margin: 0 auto;
    max-width: 40%;
}

.patient_back_btn, #add_patient_btn {
    margin-top: 5px;
    font-size: 20px;
}

#drug_info_container {
    color: black;
}